.alien-letter-input-box {
  /* display: flex;
  flex-direction: row; */
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  margin: 2px;
}

#alien-word-inputs input{
  /* display: flex;
  flex-direction: row; */
  /* max-width: 50px; */
  height: 35px;
  text-align: center;
  font-size: 20px;
  /* font-family: serif; */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  margin: 1px;
  width: 300px;
  max-width: 100%;
}