/* App.css */

.App {
  text-align: center;
}

.center {
  text-align: center;
  justify-content: center;
}

footer {
  padding: 10px;
  margin: 0 0 20px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: solid rgba(0, 0, 0, 0.1);
}


.landing-mode {
  background: linear-gradient(90deg, #FF7CC8 -10%, #7DECFF 110%);
  min-height: 100vh;
  transition: background 1.0s ease;
}

.landing-mode a {
  color: #0D2651;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: all 0.2s ease;
}

.landing-mode a:hover {
  color: #000;
  text-decoration-thickness: 3px;
}

.landing-mode h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: 2rem;
}

.landing-mode p {
  color: #000000;
}

.btn-alien {
  --bs-btn-color: #fff;
  --bs-btn-bg: #B8006B;
  --bs-btn-border-color: #B8006B;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7B76B4;
  --bs-btn-hover-border-color: #7B76B4;
  --bs-btn-focus-shadow-rgb: 141, 136, 192;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6A65A8;
  --bs-btn-active-border-color: #6A65A8;
}

.btn-human {
  --bs-btn-color: #fff;
  --bs-btn-bg: #009CB8;
  --bs-btn-border-color: #009CB8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4E7C7A;
  --bs-btn-hover-border-color: #4E7C7A;
  --bs-btn-focus-shadow-rgb: 94, 140, 138;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3E6C6A;
  --bs-btn-active-border-color: #3E6C6A;
}




.alien-mode {
  background: linear-gradient(135deg, #FF7CC8 0%, #564787 100%);
  min-height: 100vh;
  transition: background 3.0s ease;
}

.alien-mode a {
  color: #00D9FF;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: all 0.2s ease;
}

.alien-mode a:hover {
  color: #00FFFF;
  text-decoration-thickness: 3px;
}

.alien-mode footer p {
  color: #fff;
}

.suggestions-list {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 10px;
  /* margin-top: 20px; */
}




.human-mode {
background: linear-gradient(90deg, #7DECFF 0%, #F9F871 120%);
  min-height: 100vh;
  transition: background 3.0s ease;
}

.human-mode a {
  color: #8A3ABB;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: all 0.2s ease;
}

.human-mode a:hover {
  color: #4A1B66;
  text-decoration-thickness: 3px;
}

/* human build-a-guess */
.human-palette input[type="text"], input[type="number"], textarea, select{
  background-color: #7DECFF;
  color: #b7cac9;
}