.App {
  text-align: center;
}

.generic-palette{
  background-color: #E0E0D6; /*keys*/
  color: #675153;
}

.alien-palette
{
  /* unused colors, for reference */
  color: #F2F3E5;
  color: #C2B1B9;
  color: #96828E;

  color: #8D88C0; /* highlights between keys */
  color: #60618F; /*space background 1*/
  color: #575970; /*space background 2*/

  color: #BBB2B3; /* trust gray 1*/
  color: #8C959A; /* trust gray 2*/
  color: #5D5972; /* trust gray 3*/

  color: #A65274; /* trust highlight 1*/
  color: #5f2f42; /* trust highlight 2*/

  color: #D7DB87; /*wire 1 */
  color: #564730; /* wire 1 lowlight*/

  /*generic colors*/
  background-color: #E0E0D6; 
  color: #675153;

}

.alien-palette h1 {
  color: #564787; /*saturated space background*/
}

.alien-palette input[type="text"], input[type="number"], textarea, select{
  background-color: #A65274;
  color: #5f2f42;
}

.alien-palette button{
  background-color: #D7DB87;
  color: #564730;

  border-radius: 6px;
  box-shadow: none; 
}


.human-palette{
  /* unused colors, for reference */
  color: #0F5F78;
  color: #196660;
  color: #5E8C8A;
  color: #83AE92;
  color: #D17163;
  color: #2D2F5F;
  color: #4b4e9b;
  color: #9B9B8F;
  color: #216E68;
  color: #9fcbd8;

  /*generic colors*/
  background-color: #E0E0D6; 
  color: #675153;
}

.human-palette h1 {
  color: #5a997c; /*saturated space background*/
}

.human-palette input[type="text"], input[type="number"], textarea, select{
  background-color: #5E8C8A;
  color: #b7cac9;
}

.human-palette button{
  background-color: #D17163;
  color: #e9e0e0;
  border-radius: 6px;
  box-shadow: none; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
